{% extends "base.html" %} {% load static %}
 {% block title %}Login | AI Interview Prep{% endblock %} {% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}" />

<main>
  <div class="login-container">
    <h3>Login to Your Account</h3>

    {% if form.errors %}
    <div class="alert alert-danger">Invalid username or password.</div>
    {% endif %}

    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Login</button>
    </form>
  </div>
</main>
{% endblock %}
